body {
    background: rgb(228, 184, 184);
    margin: 2em 10%;
    max-width: 40em;
    font-family: 'Helvetica', 'Arial', sans-serif;
    line-height: 1.5;
}

nav ul {
    margin: .5em;
    text-align: center;
}


nav li {
    display: inline-block;
    padding: 0 .5em;
    border-radius: .5em;
}

nav li a {
    text-decoration: none;
    color: #6e4b96;
}

nav li:hover {
    background-color: rgb(221, 171, 236);
}



.header {
    background: rgb(238, 136, 120);
    font-weight: bold;
    padding: 1em 1em;
    font-size: 1em;
    border-radius: .5em;
}

.logged {
    background: rgb(238, 161, 174);
    padding: .3em .3em;
    font-size: 1.0em;
    border-radius: .2em;
    max-width: fit-content
}

.message_info {
    background: rgb(238, 161, 174);
    padding: 1em 1em;
    font-size: 1em;
    border-radius: 1em;
}

.message {
    background: rgb(230, 184, 192);
    padding: 1em 1em;
    font-size: 1em;
    border-radius: .5em;
}

table {
    font-family: helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: #eec0d7;
  }
  
  td, th {
    border: 2px solid #dbaacd;
    text-align: left;
    padding: 1em;
  }
  

