{% extends "layout.html" %}
{% block content %}
<p>
    {{message}}
</p>
<table>
    <threat>
        <th>aihealueet</th>
        <th>keskusteluja</th>
        {% if session.admin %}
        <th>näkyvyys</th>
        {% endif %}
    </threat>
    <tbody>
        {% for forum in forums %}
        <tr>
            <td><a href="/forum/{{forum.id}}"> {{forum.topic}}</a></td>
            <td>{{forum.count}}</td>
            {% if session.admin %}
            <td>
                <form action="/forum" method="POST">
                    <input type="hidden" name="remove_id" value={{forum.id}}>
                    <input type="submit" name="remove" value="poista">
                    <input type="hidden" name="id" value="{{ id }}">
                    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                </form>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
<p>
    {% if session.username %}<br>
    Luo uusi aihealue<br>
    <form action="/forum" method="POST">
        <input type="text" name="main_topic" size="20"><br>
        <input type="submit" name="new" value="luo">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>
    {% endif %}
</p>
{% endblock %}