{% extends "layout.html" %}
{% block title %}
    etusivu
{% endblock %}
{% block content %}
    {% if session.user_id %}
        Tervetuloa {{session.username}}!<br>
        {% if message > 1 %}
        Sinulla on {{message}} lukematonta
        <a href="/messages">yksityisviestiä</a>
        {% elif message == 1 %}
        Sinulla on {{message}} lukematon
        <a href="/messages">yksityisviesti</a>
        {% endif %}
    {% else %}
        Hei! Tervetuloa Freaks & Geeks -keskustelufoorumille! Aloita luomalla tunnus 
        tai kirjautumalla sisään käyttääksesi foorumia.
    {% endif %}
{% endblock %}