{% extends "layout.html" %}
{% block title %}
    viestit
{% endblock %}
{% block content %}
{% if messages|length > 0 %}
{% for m in messages %}
<p>
    <div class=message_info>
        viimeisin viesti: {{m.viimeisin.strftime("%d.%m.%Y %H:%M:%S")}}<br>
        lähettäjä: <a href="/profile/{{m.contact_id}}">{{m.name}}</a><br>
        viestejä näkemättä: {{m.not_seen}}<br>
        viestejä yhteensä: {{m.count}}<br>
        <a href="/conversation/{{m.contact_id}}">keskusteluun</a><br>
    </div>
</p>
{% endfor %}
{% else %}
<p>
    Sinulle ei ole vielä saapuneita viestejä. Voit lähettää viestejä 
    <a href="/contacts">yhteystietoihisi</a> lisätyille käyttäjille.
</p>
{% endif %}

{% endblock %}