{% extends "layout.html" %}
{% block title %}
    profiili
{% endblock %}
{% block content %}
<p>
    {% if profile.admin %}
    Ylläpitäjä:
    {% else %}
    Käyttäjä:
    {% endif %}
    {{ profile.name}} <br>
    Luotu: {{profile.created_at.strftime("%d.%m.%Y %H:%M:%S")}}<br>
    Viestejä foorumilla: {{profile.count}} kpl<br>
</p>
<p>
<form action="/profile/{{profile.id}}" method="POST">
{% if session.user_id != profile.id %}
    {% if not profile.contact %}
    <input type="submit" name="add_contact" value="lisää yhteystietoihin">
    {% else %}
    <p>
    <a href="/conversation/{{profile.id}}">Keskustele</a><br>
    </p>
    <input type="submit" name="remove_contact" value="poista yhteystiedoista">
    {% endif %}
    {% endif %}
    {% if session.admin and session.user_id != profile.id and profile.active %}
    <p>
    <input type="submit" name="remove_user" value="poista käyttöoikeus">
    {% elif session.admin and session.user_id != profile.id %}
    <p>
    <input type=submit name="restore_user" value="palauta käyttäoikeus">
    {% endif %}
    {% if session.admin and profile.active and profile.admin == False %}
    <p>
    <input type="submit" name="give_admin_rights" value="anna ylläpito-oikeudet">
    {% endif %}
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
</p>
{% endblock %}
