{% extends "layout.html" %}
{% block title %}
    keskustelu
{% endblock %}
{% block content %}
<div class=message_info>
    keskustelu: 
    <a href=/forum/{{info.forum_id}} >{{info.forum}}</a> / 
    <a href=/forum/{{info.forum_id}}/{{info.topic_id}}>{{info.topic}}</a><br>
</div>
{% for m in messages%}
<p>
    <form action="/forum/{{info.forum_id}}/{{info.topic_id}}" method="POST">
        <div class=message_info>

                <a href="/profile/{{m.user_id}}">{{m.name}}</a>
                lähetetty: {{m.timestamp.strftime("%Y-%m-%d %H:%M:%S")}}
                {% if session.user_id == m.user_id or session.admin %}
                <form action="/forum/{{info.forum_id}}/{{info.topic_id}}" method="POST">
                    <input type="hidden" name="remove_id" value={{m.message_id}}>
                    <input type="submit" name="remove" value="poista">
                    <input type="hidden" name="id" value={{ message_id }}>
                    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                </form>
                {% endif %}
            <p>
            <div class=message>
                {{m.content}}
            </div>
        </div>
        {% endfor %}
    </form>
</p> 
<p>
    {% if info.active %}
    <form action="/forum/{{info.forum_id}}/{{info.topic_id}}" method="POST">
        <textarea name="message"></textarea><br>
        <input type="submit" name="send" value="Lähetä">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>
    {% else %}
    sinulla ei ole käyttöoikeutta
    {% endif %}
</p>
{% endblock %}