{% extends "layout.html" %}
{% block title %}
    aiheet
{% endblock %}
{% block content %}
<p>
    <div class=message_info>
        Aihealue: 
        <a href=/forum/{{info.id}} >{{info.topic}}</a>
    </div>
</p>
<p>
    <table>
        <threat>
            <th>keskustelu</th>
            <th>viestejä</th>
            {% if session.admin %}
            <th>näkyvyys</th>
            {% endif %}
        </threat>
        <tbody>
            {% for topic in topics %}
            <tr>
                <td><a href="/forum/{{info.id}}/{{topic.id}}">{{topic.topic}}</a></td>
                <td>{{topic.count}}</td>
                {% if session.admin %}
                <td>
                    <form action="/forum/{{info.id}}" method="POST">
                    <input type="hidden" name="remove_id" value={{topic.id}}>
                    <input type="submit" name="remove" value="poista">
                    <input type="hidden" name="id" value={{ id }}>
                    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                    </form>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</p>
<p>
    {% if session.username %}
    Luo uusi keskustelu<br>
    <form action="/forum/{{info.id}}" method="POST">
        <input type="text" name="sub_topic" size="30">
        <input type="submit" name="add" value="luo">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        <div class="return_link">
            <a href="/forum">takaisin</a> 
        </div>
    </form>
    {{message}}
    {% endif %}
</p>

{% endblock %}